{% extends "dashboard/base.html" %}

{% block title %}
خدمات طبقه اول
{% endblock %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h2>
            🏥 خدمات طبقه اول
        </h2>

        <hr>

        <p>

            این صفحه مخصوص واحد خدمات طبقه اول است.

        </p>

        <p>

            در این قسمت بعداً اضافه می‌کنیم:

        </p>

        <ul>

            <li>لیست پرسنل</li>

            <li>برنامه شیفت</li>

            <li>حضور و غیاب</li>

            <li>اضافه کاری</li>

            <li>وظایف روزانه</li>

        </ul>

    </div>

</div>

{% endblock %}