<div class="card shadow-sm border-0 mt-4">

    <div class="card-header bg-white">

        <h5 class="mb-0">
            ⚡ دسترسی سریع
        </h5>

    </div>

    <div class="card-body">

        <div class="row g-3">

            <div class="col-md-3">
                <a href="{% url 'employee_list' %}" class="btn btn-primary w-100 p-3">
                    👨‍💼<br>
                    مدیریت پرسنل
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-success w-100 p-3">
                    📅<br>
                    شیفت‌ها
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-warning w-100 p-3">
                    ⏰<br>
                    اضافه کاری
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-danger w-100 p-3">
                    📋<br>
                    حضور و غیاب
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-info w-100 p-3 mt-2">
                    📦<br>
                    انبار خدمات
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-secondary w-100 p-3 mt-2">
                    🚗<br>
                    حمل و نقل
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-dark w-100 p-3 mt-2">
                    🛡️<br>
                    حراست
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="btn btn-outline-primary w-100 p-3 mt-2">
                    🧺<br>
                    لاندری / CSSD
                </a>
            </div>

        </div>

    </div>

</div>