<div class="card shadow-sm border-0 mt-4">

    <div class="card-header bg-white">

        <h5 class="mb-0">
            📅 وضعیت امروز
        </h5>

    </div>

    <div class="card-body">

        <div class="row text-center">

            <div class="col-md-2">
                <h3 class="text-success">35</h3>
                <small>حاضر</small>
            </div>

            <div class="col-md-2">
                <h3 class="text-danger">2</h3>
                <small>غایب</small>
            </div>

            <div class="col-md-2">
                <h3 class="text-warning">4</h3>
                <small>مرخصی</small>
            </div>

            <div class="col-md-2">
                <h3 class="text-primary">9</h3>
                <small>شیفت شب</small>
            </div>

            <div class="col-md-2">
                <h3 class="text-info">7</h3>
                <small>اضافه کاری</small>
            </div>

            <div class="col-md-2">
                <h3 class="text-secondary">1</h3>
                <small>ماموریت</small>
            </div>

        </div>

    </div>

</div>