{% extends "dashboard/base.html" %}

{% block title %}
داشبورد | QFM
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="fw-bold">
            داشبورد مدیریت خدمات
        </h2>

        <p class="text-muted mb-0">
            مرکز درمانی سوده
        </p>
    </div>

    <div>

        <span class="badge bg-success fs-6">
            سیستم فعال
        </span>

    </div>

</div>

{% include "dashboard/components/stats_cards.html" %}

{% include "dashboard/components/quick_access.html" %}

{% include "dashboard/components/today_status.html" %}

{% endblock %}