{% extends "dashboard/base.html" %}

{% block title %}
Dashboard | QFM
{% endblock %}

{% block content %}

<h2 class="mb-4">داشبورد</h2>
<h3>خوش آمدید 👋</h3>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">🏥 تجهیزات</h5>
                <h2>125</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">🛠 دستور کارها</h5>
                <h2>18</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">👨‍🔧 پرسنل</h5>
                <h2>42</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow-sm">
            <div class="card-body">
                <h5 class="card-title">📊 گزارشها</h5>
                <h2>9</h2>
            </div>
        </div>
    </div>

</div>

<div class="card mt-5 shadow-sm">

    <div class="card-header">
        آخرین فعالیت ها 
    </div>

    <div class="card-body">

        <p>سامانه مدیریت خدمات مرکز درمانی سوده</p>

    </div>

</div>

{% endblock %}