{% extends "dashboard/base.html" %}

{% block title %}
واحدهای خدمات | QFM
{% endblock %}

{% block content %}

<div class="card shadow-sm border-0 mb-4">

    <div class="card-body">

        <h2 class="fw-bold">
            🏥 واحدهای خدمات
        </h2>

        <p class="text-muted">
            سامانه مدیریت خدمات مرکز درمانی سوده
        </p>

    </div>

</div>

<div class="row g-3">

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🏥
            <h5 class="mt-3">خدمات طبقه اول</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🏥
            <h5 class="mt-3">خدمات طبقه دوم</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🩸
            <h5 class="mt-3">خدمات تالاسمی</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🧪
            <h5 class="mt-3">خدمات آزمایشگاه</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🧺
            <h5 class="mt-3">لنژری</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🧼
            <h5 class="mt-3">CSR</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            ♻️
            <h5 class="mt-3">پسماند</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🛏️
            <h5 class="mt-3">بیماربر</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            ☕
            <h5 class="mt-3">آبدارخانه طبقه اول</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🍽️
            <h5 class="mt-3">آبدارخانه و سالن غذاخوری طبقه سوم</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🛡️
            <h5 class="mt-3">حراست</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🚗
            <h5 class="mt-3">راننده استخدامی</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🚕
            <h5 class="mt-3">راننده خصوصی</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            📦
            <h5 class="mt-3">انبار خدمات</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            🦽
            <h5 class="mt-3">مدیریت ویلچر</h5>
        </div>
    </div>

</div>

{% endblock %}